---
layout: layout.liquid
---

<section id="event-details">
	<div id="event-featured-image">
	{% if image %}
		{% image event.imagePath %}
	{% endif %}
	</div>

	<h1>{{ event.name }}</h1>

	<p>When: {{ event.start | dateString }} from {{ event.start | timeString }} to {{ event.end | timeString }}</p>

	<p>
		Where: 
		<br>
		&emsp;{{ event.location.name }}
		{% if event.location.address != "" %}
			<br>
			&emsp;
			<a href={{ event.location.address | googleMapsSearchUrl }}>
				{{ event.location.address }}
			</a>
		{% endif %}
	</p>

	<p>Calendar Links: {% calendarLinks event %}


	{{ content }}

</section>

<a href="/">>> Back Home</a>
