---
layout: layout.liquid
---

<h1>{{ title }}</h1>

<p>Date: {{ event-date }}</p>

<p>Start time: {{ start-time }}</p>

<p>End time: {{ end-time }}</p>

<p>
	Location: 
	<br>
	&emsp;{{ location.name }}
	{% if location.address != "" %}
		<br>
		&emsp;{{ location.address }}
	{% endif %}
</p>

{{ content }}

<a href="/">>> Back Home</a>
