---
layout: layout.liquid
---

<section id="event-details">
	<div id="event-featured-image">
		{{ event.image }}
	</div>

	<h1>{{ event.title }} 
    <button 
      class="btn-secondary btn-copy-to-clipboard" 
      data-clipboard 
      data-clipboard-text="https://livejazzdayton.com{{ page.url | url }}"
    >
      Copy Link
    </button>
  </h1>

	<h2>
    {{ event.start | dateString }} from {{ event.start | timeString }} to {{ event.end | timeString }}
    {%- for badge in event.badges -%}
      {%- if badge.size > 0 -%}
        <span class="badge-small">{{ badge }}</span>
      {%- endif -%}
    {%- endfor -%}
  </h2>

	<p>
	  At {{ event.location.name }}
		{% if event.location.address %}
		 (<a href="{{ event.googleMapsUrl }}">{{ event.location.address }}</a>)
		{% endif %}
	</p>

	<div class="tags-container">
		{% for artist in event.artists %}
			<span class="tag">{{ artist }}</span>
		{% endfor %}
	</div>

	<div id="event-links-container">
		{% if event.links %}
      <a class="btn-secondary" href={{ event.links.googleCalendar }}>
        Google Calendar
      </a>
      <a class="btn-secondary" href={{ event.links.ics }}>
        iCal
      </a>
			{% if event.links.facebook %}
				<a class="btn-secondary" href={{ event.links.facebook }}>
					Facebook
				</a>
			{% endif %}
			{% if event.links.website %}
				<a class="btn-secondary" href={{ event.links.website }}>
					Website
				</a>
			{% endif %}
      {% if event.links.stream %}
				<a class="btn-secondary" href={{ event.links.stream }}>
					Live Stream
				</a>
			{% endif %}
      {% if event.links.tickets %}
				<a class="btn-secondary" href={{ event.links.tickets }}>
					Ticket
				</a>
			{% endif %}
		{% endif %}
	</div>

	{{ content }}

	<div class="google-maps-container">
		<div class="google-maps-canvas">
			<iframe frameborder="0" src="{{ event.googleMapsEmbed }}">
			</iframe>
		</div>
	</div>

</section>

<a href="/" class="btn"><< Back Home</a>
