---
layout: layout.liquid
---

<section id="event-details">
	<div id="event-featured-image">
		{{ event.image }}
	</div>

	<h1>{{ event.title }}</h1>

	<h2>{{ event.start | dateString }} from {{ event.start | timeString }} to {{ event.end | timeString }}</h2>

	<p>
	  At {{ event.location.name }}
		{% if event.location.address %}
		 (<a href= {{ event.location.queryString | googleMapsSearchUrl }}>{{ event.location.address }}</a>)
		{% endif %}
	</p>

	<div class="tags-container">
		{% for artist in artists %}
			<span class="tag">{{ artist }}</span>
		{% endfor %}
	</div>

	<div id="event-links-container">
		{% calendarLinks event %}
		{% if links %}
			{% if links.facebook %}
				<a class="btn-secondary" href={{ links.facebook }}>
					Facebook
				</a>
			{% endif %}
			{% if links.website %}
				<a class="btn-secondary" href={{ links.website }}>
					Website
				</a>
			{% endif %}
		{% endif %}
	</div>

	{{ content }}

	<div class="google-maps-container">
		<div class="google-maps-canvas">
			<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/search?q={{ event.location.queryString }}&key={{ googleApiKey }}">
			</iframe>
		</div>
	</div>

</section>

<a href="/" class="btn"><< Back Home</a>
