---
layout: layout.liquid
---

<section id="event-details">
	<div id="event-featured-image">
	{% if image %}
		{% image event.imagePath %}
	{% endif %}
	</div>

	<h1>{{ event.name }}</h1>

	<h2>{{ event.start | dateString }} from {{ event.start | timeString }} to {{ event.end | timeString }}</h2>

	<p>
	  At {{ event.location.name }}
		{% if event.location.address %}
		 (<a href= {{ event.location.queryString | googleMapsSearchUrl }}>{{ event.location.address }}</a>)
		{% endif %}
	</p>

	<p>{% calendarLinks event %}

	{{ content }}

	<div class="google-maps-container">
		<div class="google-maps-canvas">
			<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/search?q={{ event.location.queryString }}&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
			</iframe>
		</div>
	</div>

</section>

<a href="/">>> Back Home</a>
