---
import Layout from "../layouts/Layout.astro";
import { 
  getYear,
  getMonthString, 
  getDayOfWeekString,
  getDayString, 
  getTimeString,
} from "../utils/time";
import { 
  getAllFutureEvents
} from "../utils/trello.js";

const allEvents = await getAllFutureEvents();
---

<Layout title="Home">
  <section>
    <h1 class="section-title">Upcoming Events</h1>
    <ul class="event-list">
      {allEvents.map((event, index, array) => {
        const insertMonth = index === 0 || getMonthString(event.start) !== getMonthString(array[index-1]?.start);
        const insertYear = insertMonth && getMonthString(event.start) === "January";
        return (
        <>
          {insertMonth && <li><span class="month">{getMonthString(event.start)}</span>{insertYear && <span class="year">{getYear(event.start)}</span>}</li>}
          <li class="event-item">
            <a href={`/events/${event.slug}`}>
              <div class="day-container">
                <span class="day">{getDayString(event.start)}</span>
                <span class="day-of-the-week">{getDayOfWeekString(event.start)}</span>
              </div>
              <div class="event-info">
                <span class="event-name">{event.name}</span><br/>
                <span class="time-location">{getTimeString(event.start)} at {event.locationName}</span><br/>
                <span class="artist-name">By {event.artists.toString()}</span>
              </div>
            </a>
          </li>
        </>
        )
      })}
    </ul>
  </section>
</Layout>

<style>
  .event-list {
    padding: 0;
  }
  .event-list li {
    list-style-type: none;
    margin: var(--space-2xl) 0;
  }
  .event-list a {
    text-decoration: none;
    color: var(--color-text-primary);
  }
  .event-item a {
    background-color: var(--white);
    padding: var(--space-2xl);
    border-radius: var(--radius-sm);
    box-shadow: var(--box-shadow-light);
  }
  .event-item a:hover {
    box-shadow: var(--box-shadow);
  }
  .month {
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: var(--text-3xl);
    font-weight: bolder;
    color: var(--grey-50);
    margin: var(--space-2xl) auto 0 auto;
  }
  .year {
    font-size: var(--text-3xl);
    margin-left: var(--space-lg);
  }
  .event-item a {
    display: grid;
    grid-template-columns: 130px 1fr;
    align-items: center;
  }
  .day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: var(--space-2xl);
  }
  .day,
  .day-of-the-week {
    font-family: "Rubik", sans-serif;
  }
  .day {
    font-weight: bolder;
    font-size: 70px;
  }
  .day-of-the-week {
    text-transform: uppercase;
    font-size: var(--text-md);
  }
  .event-info {
    padding: 0 var(--space-3xl);
    border-left: solid 1px var(--color-text-primary);
  }
  .event-name {
    font-weight: bold;
    font-size: var(--text-2xl);
  }
</style>