---
const { venue } = Astro.props;
const { name, website, address_street, address_city, cover } = venue.data
---
<li class="item" style={{backgroundImage: `url(${cover?.src})`}}>
  <div class="item-content-wrapper">
    <h1>{name}</h1>
    <p>{address_street}<br/>{address_city}</p>
    <div class="link-container">
      <a class="btn-sm btn-venue-link" href={website} target="_blank">Website</a>
      <a class="btn-sm btn-venue-link" target="_blank">Directions</a>
    </div>
  </a>
</li>

<style>
  h1 {
    font-family: var(--font-logo);
    font-size: var(--text-xl);
    text-shadow: #ffffff55 0px 2px 20px;
    margin: 0;
  }
  p {
    font-weight: bold;
    text-shadow: #ffffff55 0px 2px 20px;
    margin: 0;
  }
  .item {
    list-style-type: none;
    margin: var(--space-2xl) 0;
    background-size: cover;
    border-radius: var(--radius-sm);
  }
  .item-content-wrapper {
    color: var(--color-text-inverse);
    background-color: #00000088;
    padding: var(--space-2xl);
    border-radius: var(--radius-sm);
    box-shadow: var(--box-shadow-light);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr auto;
    width: 225px;
    height: 200px;
  }
  .btn-venue-link {
    font-weight: bold;
    border-color: var(--color-text-inverse);
    color: var(--color-text-inverse);
  }
  .link-container {
    display: flex;
    gap: var(--space-sm);
  }
  @media screen and (max-width: 768px) {
    .item-content-wrapper {
      grid-template-columns: 1fr;
    }
  }
</style>